body {
    display: flex;
    flex-direction: column;
}

#lista {
    height: 300px;
    overflow-y: scroll;
}

#lista > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#lista > li > * {
    margin: 5px;
}

#diario {
    display: flex;
    justify-content: space-between;
    width: 100%;
}